<script>
  const toggleButton = document.getElementById("button-menu");
  const navWrapper = document.getElementById("nav");

  toggleButton.addEventListener("click", toggleMenu);

  window.addEventListener("resize", closeMenu);

  function toggleMenu() {
    toggleButton.classList.toggle("close");
    navWrapper.classList.toggle("show");
    window.scrollTo(0, 0);
  }

  function closeMenu() {
    toggleButton.classList.remove("close");
    navWrapper.classList.remove("show");
  }

  document
    .getElementById("link-item-select")
    .addEventListener("change", (e) => {
      window.location = e.target?.value;
    });

  function handleNavLinksSelection() {
    const navLinks = document.querySelectorAll("nav a");
    const currentPath = window.location.pathname.slice("1");

    navLinks.forEach((link) => {
      link.classList.remove("active");
      const hrefArray = link?.href?.split("/");
      const thisPath = hrefArray?.[hrefArray.length - 1];

      if ((currentPath !== "") & (currentPath === thisPath)) {
        link.classList.add("active");
      }
    });
  }

  function handleSelectSelection() {
    const navSelect = document.getElementById("link-item-select");
    const navSelectOptions = document.querySelectorAll(
      "nav button select option"
    );
    const currentPath = window.location.pathname.slice("1");
    navSelectOptions.forEach((option) => {
      if (option.value === currentPath) {
        console.log(currentPath);
        option.setAttribute("selected", true);
        option.setAttribute("hidden", true);
        navSelect.classList.add("active");
      }
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    handleNavLinksSelection();
    handleSelectSelection();
  });
</script>

<header class="main-header">
  <!---Logotipo CX .SVG-->
  <a class="main-logo" href="/">
    <svg
      id="Capa_1"
      data-name="Capa 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 669.51 155.28"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #f9751c;
          }

          .cls-2 {
            fill: #7f41fa;
          }

          .cls-3 {
            fill: #4d4d4d;
          }
        </style>
      </defs>
      <path
        class="cls-1"
        d="m80.77,154.92c.46-.7.84-1.26,1.21-1.83,7.53-11.56,15.07-23.11,22.6-34.67,7.56-11.6,15.12-23.2,22.68-34.81,1.16-1.78,2.29-3.6,3.52-5.33.62-.87.64-1.54.05-2.43-2.92-4.45-5.77-8.95-8.66-13.43-12.56-19.47-25.11-38.94-37.67-58.41-.31-.47-.58-.96-1-1.65.79-.04,1.3-.09,1.81-.09,14.09,0,28.18.01,42.27-.01,1.13,0,1.83.33,2.46,1.33,8.27,13.17,16.58,26.31,24.89,39.46.31.49.65.95,1.14,1.66.48-.62.88-1.08,1.2-1.58,4.34-6.83,8.67-13.67,13-20.51,4.02-6.34,8.05-12.68,12.05-19.03.52-.83,1.08-1.32,2.16-1.32,14.46.03,28.93.03,43.39.03.25,0,.5.05.91.1-.25.48-.41.86-.63,1.2-12.45,19.29-24.9,38.57-37.35,57.85-3,4.65-5.96,9.34-9.05,13.94-.82,1.22-.77,2.09.01,3.28,7.66,11.67,15.26,23.37,22.87,35.06,7.58,11.65,15.16,23.3,22.74,34.96,1.13,1.74,2.28,3.47,3.41,5.21.19.3.34.62.6,1.09-.68.03-1.19.07-1.7.07-13.82,0-27.65-.01-41.47.03-1.26,0-2.03-.36-2.72-1.44-8.66-13.49-17.36-26.95-26.05-40.42-.84-1.3-1.67-2.6-2.53-3.88-.2-.29-.47-.53-.87-.97-.42.55-.78.97-1.08,1.43-5.64,8.78-11.27,17.57-16.92,26.35-3.8,5.91-7.62,11.82-11.41,17.73-.46.72-.95,1.18-1.9,1.18-14.46-.03-28.93-.02-43.39-.03-.1,0-.21-.04-.59-.13Z"
      ></path>
      <path
        class="cls-2"
        d="m103.46,44.21c-10.18-6.18-21.02-7.78-32.46-4.85-9.03,2.31-16.03,7.74-21.73,14.97-10.9,13.83-10.87,34.76-.31,48.65,10.66,14.03,30.62,21.19,50.73,11.92-.58.94-1,1.64-1.44,2.32-7.46,11.48-14.92,22.95-22.37,34.43-.63.98-1.21,1.99-1.92,3.17-1.24-.11-2.61-.21-3.97-.37-14.46-1.73-27.54-6.86-39.19-15.62-7.58-5.7-13.98-12.48-19.19-20.38C5.32,108.88,1.61,98.4.44,87.01c-1.04-10.13-.26-20.09,2.68-29.84,2.9-9.62,7.74-18.19,14.3-25.79,8.04-9.32,17.47-16.85,28.76-21.93,7.89-3.55,16.15-5.76,24.76-6.62,1.9-.19,3.81-.34,5.48-.48,9.11,14.1,18.07,27.98,27.04,41.87Z"
      ></path>
      <path
        class="cls-3"
        d="m654.93,129.68c2.4,2.32,4.68,4.53,7.04,6.81-.43.47-.85.94-1.28,1.4-8.61,9.2-19.1,14.85-31.62,16.65-9.2,1.32-18.32.97-27.23-1.8-11.5-3.57-20.49-10.52-27.09-20.54-4.72-7.16-7.3-15.09-8.36-23.56-.92-7.39-.85-14.77.37-22.11,2.86-17.24,11.86-30.31,27-39.09,5.46-3.17,11.46-4.85,17.72-5.63,5.65-.7,11.29-.65,16.9.33,9.37,1.64,17.41,5.83,24.24,12.42,6.77,6.54,11.63,14.24,14.37,23.25,2.14,7.06,2.76,14.29,2.44,21.62-.01.27-.04.53-.08.79-.03.15-.11.3-.23.6h-92.46c-.1.45-.23.75-.22,1.05.31,9.52,2.64,18.42,8.31,26.22,7.06,9.71,16.61,15.27,28.55,16.64,15.12,1.74,28.23-2.69,39.37-13,.74-.69,1.49-1.37,2.24-2.05.04-.03.09-.04.02-.01Zm3.21-38.82c0-.38.01-.8,0-1.21-.14-3.85-.8-7.62-2.07-11.26-3.98-11.45-11.59-19.66-22.71-24.37-6.86-2.91-14.16-3.22-21.54-2.16-16.47,2.36-30.8,15.79-34.07,31.66-.5,2.44-.94,4.89-.85,7.38,1.37.38,79.61.35,81.24-.04Z"
      ></path>
      <path
        class="cls-3"
        d="m242.74,119.2c3.1-1.47,6.16-2.92,9.39-4.44.28.6.5,1.05.7,1.52,3.38,7.86,8.14,14.72,14.99,19.97,5.88,4.51,12.56,7.16,19.9,8.14,6.03.8,12.02.6,17.99-.62,12.28-2.52,19.44-10.32,22.33-22.13,1.63-6.65,1.01-13.32-1.72-19.71-2.06-4.81-5.5-8.41-9.72-11.4-6.24-4.44-13-7.94-19.96-11.08-7.1-3.2-14.25-6.28-20.98-10.21-3.88-2.26-7.58-4.77-11.01-7.67-5.44-4.59-8.7-10.42-9.96-17.37-1.07-5.93-1.15-11.86.34-17.73,2.42-9.53,8.31-16.43,16.72-21.24,7.75-4.44,16.19-5.72,25.02-5.04,4.77.37,9.41,1.25,13.85,3.04,8.94,3.61,15.43,9.9,20.02,18.25.05.09.05.2.13.52-3.07,1.55-6.19,3.12-9.42,4.74-.32-.51-.6-.95-.87-1.39-3.69-6.14-8.68-10.81-15.55-13.13-4.98-1.69-10.13-2.44-15.44-1.92-3.71.37-7.25,1.25-10.59,2.86-9.36,4.49-14.52,13.48-13.81,24.07.12,1.85.38,3.71.76,5.52,1.08,5.06,3.89,9.07,7.96,12.18,4.16,3.17,8.6,5.9,13.39,8.08,7.76,3.53,15.5,7.13,23.18,10.84,5.29,2.55,10.35,5.53,14.85,9.36,1.95,1.66,3.84,3.38,5.65,5.19,4.25,4.26,6.96,9.4,8.21,15.26,1.54,7.22,1.7,14.49-.04,21.69-3.12,12.89-11.16,21.54-23.48,26.25-8.1,3.1-16.56,3.94-25.18,3.39-5.79-.37-11.42-1.5-16.84-3.56-9.82-3.73-17.67-9.98-23.67-18.55-2.76-3.95-4.98-8.18-6.78-12.64-.12-.29-.21-.59-.36-1.03Z"
      ></path>
      <path
        class="cls-3"
        d="m362.85,44.1h10.58c.05.51.12.97.12,1.42,0,21.08-.02,42.16-.01,63.24,0,5.01.38,9.99,1.88,14.83,3.13,10.09,9.74,16.72,19.92,19.6,8.4,2.38,16.89,2.38,25.26-.14,10.28-3.09,16.76-9.97,19.62-20.27,1.13-4.08,1.6-8.25,1.6-12.47,0-21.35,0-42.69,0-64.04v-2.14h10.63c.04.61.1,1.13.1,1.65,0,21.98.05,43.97-.03,65.95-.02,5.98-.83,11.86-2.96,17.53-4.03,10.77-11.43,18.19-22.17,22.25-8.12,3.07-16.58,3.8-25.2,3.08-4.97-.41-9.83-1.34-14.48-3.16-12.53-4.9-20.17-14.03-23.36-26.99-1.02-4.16-1.39-8.38-1.39-12.66.02-19.54,0-39.07-.02-58.61,0-2.39-.08-4.79-.11-7.18,0-.58,0-1.15,0-1.91Z"
      ></path>
      <path
        class="cls-3"
        d="m533.7,152.53h-10.46c-.05-.52-.12-.98-.12-1.44,0-30.45,0-60.9,0-91.34,0-1.8-.09-3.6-.14-5.6h-13.46v-10.09c4.4-.05,8.8,0,13.35-.04.07-.89.18-1.67.18-2.44,0-12.35-.03-24.7-.05-37.05,0-.62,0-1.24,0-1.94h10.63c.02.68.07,1.35.07,2.01,0,12.3,0,24.59,0,36.89,0,.74,0,1.47,0,2.43,2.2.21,4.26.09,6.31.11,2.13.02,4.27,0,6.4,0,2.08,0,4.16,0,6.24,0,2.08,0,4.16,0,6.41,0,.26,3.34.09,6.59.13,10.05h-25.5c0,8.39,0,16.57-.01,24.75,0,8.2,0,16.39,0,24.59v49.1Z"
      ></path>
      <path
        class="cls-3"
        d="m477.8,44.13h10.63c0,36.1,0,72.15,0,108.2-1.11.33-7.79.43-10.51.13-.04-.84-.11-1.73-.11-2.61,0-28.09,0-56.19,0-84.28,0-6.54,0-13.09,0-19.63,0-.57,0-1.14,0-1.81Z"
      ></path>
      <path
        class="cls-3"
        d="m475.67,14.74c-.18-3.94,3.65-7.77,7.39-7.72,4.16.06,8.12,4.15,8.07,8.36-.04,3.75-3.79,7.18-7.86,7-4.32-.19-7.67-2.7-7.6-7.64Z"
      ></path>
    </svg>
  </a>
  <!---Barra navegación-->
  <nav id="nav" class="main-nav">
    <!---Desplegable características-->
    <button class="link-item" id="link-item-select">
      <select class="link-item-select">
        <option value="">Características</option>
        <option value="funcionalidades">Funcionalidades</option>
        <option value="soluciones">Soluciones</option>
      </select>
    </button>
    <!---Links Navegación-->
    <a class="link-item" href="formulario">Demostración</a>
    <a class="link-item" href="precios">Precios</a>
    <a class="link-item" href="https://www.likenuuk.com/" target="_blank"
      >Nosotros</a
    >
  </nav>
  <!---Botón responsive-->
  <div class="hamburger-container">
    <button id="button-menu" class="button-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<style>
  /*Encabezado principal*/
  .main-header {
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: #ededed;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
  }

  /*Logo principal*/
  .main-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  .main-logo > svg {
    min-width: 170px;
  }
  /*Barra de navegacion rapida princpial*/
  .main-nav {
    flex-grow: 1;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-nav > a,
  select {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    transition: all 0.2s linear;
    background-color: #ededed;
    margin: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link-item-select,
  .link-item {
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    border: none;
    display: flex;
    gap: 25px;
  }

  .link-item-select:focus ~ .active {
    border-bottom: 5px solid #f9751c;
  }

  .link-item.active {
    border-bottom: 5px solid #f9751c;
  }

  option {
    background-color: #f9751c;
  }

  .link-item:hover,
  .link-item:active,
  .link-item:focus {
    border-bottom: 5px solid #f9751c;
  }
  .link-itema:hover {
    border-bottom: 5px solid #f9751c;
  }
  .link-item:visited {
    color: #1d1d1d;
  }

  .hamburger-container {
    display: none;
  }

  .button-menu {
    z-index: 200;
    width: 45px;
    height: 40px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 40px;
  }

  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background: #f9751c;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #f9751c;
  }

  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  .button-menu.close span:nth-child(3) {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .main-header {
      justify-content: end;
    }
    .hamburger-container {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-grow: 1;
    }
    .main-nav {
      display: none;
    }
    .main-nav.show {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;

      background-color: white;
    }
  }
</style>
