---
import ButtonCX from "./ButtonCX.astro";
import Card from "./Card.astro";
---

<section class="functionality">
  <section class="functionality">
    <h1 class="text-gradient-cx-radial">Soluciones</h1>
    <h3>
      <b class="orange"
        >CX Suite tiene las mejores soluciones para cubrir las necesidades de tu
        empresa,</b
      > atiende a tu clientes con eficiencia, realiza ventas conversacionales o atiende
      a tus empleados con la misma calidad que a tus clientes.
    </h3>
  </section>

  <Card imageSrc="images/content/soluciones/Comercio Electronico.svg">
    <h2 class="text-gradient-cx-radial">
      Comercio Electrónico y Conversacional.
    </h2>
    <ul>
      CX Suite es la solución ideal para las tiendas en línea y atención
      conversacional. Con CX Suite podrás integrar todas tus plataformas de
      venta como Shopify, Mercado Libre y Amazon. Podrás tener el analísis y el
      reporte detus ventas y conoceras las necesidades de tus clientes .
      <br /><br />
      ¡Mejora la experiencia y mejora tus ventas!
    </ul>
    <ButtonCX title="Agenda una demo" href="formulario.html" />
  </Card>

  <Card imageSrc="images/content/soluciones/Soporte.svg" imageLeft>
    <h2 class="text-gradient-cx-radial">Soporte Técnico</h2>
    <ul>
      Brinda atención y ayuda a tus clientes de forma eficiente, maximizando su
      satisfacción. Automatiza respuestas, reduce tiempos y aumenta la
      eficiencia de tu equipo de soporte técnico.
      <br /><br />
      Podrás tener análisis y reportes que te permitirán conocer las preferencias
      de tus clientes y detectar posibles problemas técnicos antes de que se conviertan
      en un problema mayor.
    </ul>
  </Card>

  <Card imageSrc="images/content/soluciones/Clientes.svg">
    <h2 class="text-gradient-cx-radial">Atención a Clientes</h2>
    <ul>
      CX Suite es la solución ideal para la atención al cliente! Con nuestra
      plataforma podrás brindar una atención excepcional y personalizada,
      maximizando la satisfacción de tus clientes.
    </ul>
    <ButtonCX title="Agenda una demo" href="formulario.html" />
  </Card>

  <Card imageSrc="images/content/soluciones/Recursos Humanos.svg" imageLeft>
    <h2 class="text-gradient-cx-radial">Recursos Humanos</h2>
    <ul>
      Con CX Suite, automatiza los procesos de selección y reclutamiento,
      mejorar la gestión del talento y optimizar la comunicación interna.
      <br /><br />
      Además, con nuestras herramientas de comunicación interna omnicanal, podrás
      mantener a tus colaboradores informados y en contacto constante, fomentando
      una cultura laboral positiva y productiva.
    </ul>
  </Card>
</section>

<style>
  .functionality {
    margin: auto;
    padding: 20px;
    max-width: 1200px;
  }

  h1 {
    font-size: 48px;
    font-weight: bolder;
  }

  h2 {
    font-size: 36px;
    font-weight: bolder;
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 38px;
    }
  }

  ul {
    list-style: disc;
    margin: 35px 0px;
    padding: 0;
    font-size: 20px;
    text-align: justify;
  }
</style>
